<!DOCTYPE html>
<html>
<head>
  <title>TopoE</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <!-- Bootstraps's js requires jquery. -->
  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <!-- custom styling -->
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>


<body class="application">





    {% block body %}
     <!--    Other template html rendered here.
        Including the specific script src for each. -->
    {% endblock %}


</body>
</html>
