<!DOCTYPE html>
<html>
<head>
    <title>In progress</title>

    <!-- import libraries -->
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
</head>

<body>
    <header>
        <!-- TODO:  Stuff will go here. -->
        <h2>Need a header</h2>
    </header>
    <main>
        <!-- Main content here.  Interactive elements with d3 (visual), jquery/ajax (events & callbacks), and underscore (data handling).  May also use json based on data structure (and dataflow) decisions TBD later. -->

        <!-- TODO: determine which elements in which containers. -->
        <section id="map-container">
            <p>map with EIA data</p>
        </section>

        <section>
        </section>

    </main>





    <!-- import js file -->
    <script src="/static/scripts.js"></script>
</body>
</html>