{% extends 'base.html' %}
{% block body %}

    <section class="container">
        <div class="row vertical-center-row">
            <div class="col-lg-12">
                <div class="row ">
                    <div class="col-sm-8 col-xs-offset-2">
                        <div class="jumbotron">
                          <h1>Welcome to TopoE!</h1>
                          <h3>Explaining why Energy is Geography.</h3>
                          <p>...</p>
                          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}